[user]
  name = y@su
  email = toyasyu@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[merge]
  ff = false
