[user]
  name = Yasuhiko Katoh
  email = toyasyu@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch --sort=-committerdate --format='%(committerdate:short) %(if)%(HEAD)%(then)*%(color:green) %(else)  %(end)%(refname)'
  br-renamed-to = branch -m
  h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  g = grep
  pfwl = push --force-with-lease
  brm = branch -m
[pull]
  rebase = true
[fetch]
  prune = true
[ghq]
  root = ~/.ghq
